.board {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  height: 30px;
  width: 30px;
  border: 0.5px solid black;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: "Times";
}

.cell.unselected {
  background-color: lightblue;
}

.cell.selected-safe {
  background-color: grey;
  color: lightgreen;
}

.cell.selected-bomb {
  background-color: lightpink;
  color: red;
}

.cell.hover {
  filter: brightness(90%);
}

.cell.selected-safe:hover,
.cell.selected-bomb:hover,
.cell.unselected:hover {
  cursor: pointer;
}
